home-studente {
    .prezzo-lezione {
      font-size: 20px;
      margin-left: 10px;
      padding-bottom: 5px;
    }

    .coloreblu {
      color: #488aff !important;
      font-size: 20px;
      font-weight: 800;
    }

}
