page-inserisci-lezione {

  .InserisciLezione-content {
    background: #ffffff;

    .InserisciLezione-box {
    background: #029db4;
    padding: 20px 10px 0px 10px;
    margin-top: 5px;

    }

    ion-row {
    align-items: center;
    text-align: center;
    }
    ion-list{
      margin: 5px!important;
    }

    .margine-descrzione{
      padding: 0!important;
      margin: 0!important;
    }
    ion-item {
    //padding-left: 30px !important;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
    }

    .signup-col {
    margin: -5px 16px 0px 16px;
    padding-bottom: 20px;
    }

    .item-inner {
    border-bottom-color: #ffffff !important;
    box-shadow: none !important;
    }

    //.submit-btn {
    //background: #54a723;
    //border-radius: 30px !important;
    //border: 1px solid #ffffff;
    //}

    //.Inserisci-btn {
    //color: #ffffff;
    //font-size: 0.8em;
    //}

    .Inserisci-btn {
    background: #54a723;
    //border-radius: 30px !important;
    border: 1px solid #ffffff;
    color: #ffffff;
    }
  }
}
